@import '../../styles/index.scss';

.Cell {
  @include borders;
  @include buttons;
  align-items: center;
  display: flex;
  font-size: 30px;
  font-weight: bold;
  height: 40px;
  justify-content: center;
  width: 40px;

  &.open {
    border-color: #7b7b7b;
    border-width: 1px;
  }
}