@import "../../styles/index.scss";
@import "../../styles/breakpoints.scss";

.Cell {
  @include borders;
  @include buttons;
  align-items: center;
  display: flex;
  font-weight: bold;
  font-size: 1.2rem;
  justify-content: center;
  height: unquote("max(4vw, 4vh)");
  width: unquote("max(4vw, 4vh)");
  user-select: none;

  &.open, &.exploded {
    border-color: #7b7b7b;
    border-width: 1px;
  }

  @include breakpoint-min($screen-md) {
    font-size: 1.7rem;
  }

  @include breakpoint-min($screen-lg) {
    font-size: 2.3rem;
  }

  @include breakpoint-min($screen-xl) {
    font-size: 2.8rem;
  }
}
