@import '../../styles/index.scss';
@import '../../styles/breakpoints.scss';

.App {
  @include borders(white, #999);
  background: #c2c2c2;
  padding: 1rem;
}

.Header {
  @include borders(#7b7b7b, white);
  align-items: center;
  background: #c0c0c0;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.Body {
  @include borders(#7b7b7b, white);
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  margin-top: 1rem;
}

.Face {
  @include borders;
  @include buttons;
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 1.6rem;
  justify-content: center;
  height: unquote("max(6vw, 6vh)");
  width: unquote("max(6vw, 6vh)");
  margin: 0 0.5rem;

  @include breakpoint-min($screen-md) {
    font-size: 2rem;
  }

  @include breakpoint-min($screen-lg) {
    font-size: 2.6rem;
  }

  @include breakpoint-min($screen-xl) {
    font-size: 3.3rem;
  }
}
